<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Add</title>
</head>
<body>
<div class="col-sm-5 col-md-6">
<div class="card border-info mb-3" style="max-width: 30rem;">
  <h2 class="card-header">Check the website</h2>
  <form class="form-inline" style="margin: 5% 5% 0 0" method="POST" action="/add_website">
  {{ form.csrf_token }}
    <div class="card-body">
      <div class="form-group row">
          <div class="form-group mx-sm-3 mb-2" style="width: 100px;">{{ form.address(size=50)}}</div>
      </div>
      <button type="submit" class="btn btn-primary mb-2">OK</button>
          {{ form.submit }}
      </div>
  </form>
    </div>
</div>

</body>
</html>